@font-face {
    font-family: 'trash';
    src:    url('../fonts/icomoon.eot?oa3thv');
    src:    url('../fonts/icomoon.eot?oa3thv#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?oa3thv') format('truetype'),
        url('../fonts/icomoon.woff?oa3thv') format('woff'),
        url('../fonts/icomoon.svg?oa3thv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

input {
    padding: 5px;
    margin: 5px;
}

p, ul {
  margin: 15px 0;
}

table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

table .tableHeader {
    background-color: #333333;
    color: #DDDDDD;
}

table .income {
    background-color: #ccffcc;
    color: #003300;
}

table .outcome {
    background-color: #ff9999;
    color: #800000;
}

th, td {
  padding: 10px;
  text-align: center;
}

tr span {
    font-weight: bold;
}

ul {
  padding-left: 30px;
}

#managerMessage {
    background-color: #DEDEDE;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
    text-shadow: 1px 1px 3px #777;
    width: 100%;
}

.balanceDisplay {
    display: inline-table;
    margin-top: 10px;
    width: 30%;
}

tr .destroy {
    background-color: transparent;
    border: none;
    color: #808080;
    cursor: pointer;
    display: none;
    font-family: 'trash' !important;
    font-size: 20px;
    margin-top: 12.5px;
    position: absolute;
    right: 50px;
    text-align: center;
}

tr .destroy:before {
    content: '\e900';
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -10px;
    width: 10px;
}

tr .destroy:hover {
    color: #202020;
}

tr.movement:hover .destroy {
    display: block;
}

.newMovementForm {
    background-color: #333;
    border-radius: 5px;
    box-sizing: border-box;
    color: #DDDDDD;
    display: inline-table;
    height: 200px;
    margin-top: 20px;
    margin-left: 10%;
    padding: 10px;
    text-align: center;
    width: 50%;
}

.newMovementForm input[type="text"] {
    box-sizing: border-box;
    display: block;
    margin: 15px 5%;
    width: 90%;
}

.newMovementForm input[type="submit"] {
    background-color: #DDD;
    border-radius: 5px;
    color: #333;
    border: none;
    font-weight: bold;
    padding: 10px;
}
